:root {
  --darkblue: #29353c;
  --blue: #44576d;
  --gray: #768a96;
  --lightblue: #aac7d8;
  --whitish: #dfebf6;
  --lighgray: #e6e6e6;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

#intro-body {
  background-color: var(--lightblue);
  opacity: 1;
  background-image: radial-gradient(
      #44576d 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    radial-gradient(
      var(--blue) 1.2000000000000002px,
      var(--lightblue) 1.2000000000000002px
    );
  background-size: 48px 48px;
  background-position: 0 0, 24px 24px;
}

.header-name {
  color: var(--darkblue);
}

.header-name h3:hover {
  color: var(--whitish);
  transition: 0.3s;
}

.nav-body {
  background: transparent;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  align-self: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container a {
  color: var(--darkblue);
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-container a:hover {
  color: var(--whitish);
}

#menu-btn {
  display: none;
}

#intro-body {
  padding: 100px;
  min-height: 100vh;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.my-profile {
  border-radius: 50%;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 0px 5px;
}

.intro-text {
  position: relative;
  color: var(--darkblue);
  text-align: center;
}

.name-text {
  font-size: 2.5rem;
  cursor: default;
}

.name-text span:hover {
  color: var(--whitish);
  transition: 0.3s;
}

.name-text span:has(~ span:hover) {
  color: var(--whitish);
}

.separator {
  width: 50%;
  height: 0.2rem;
  margin: 10px auto;
  background: var(--gray);
  border: none;
}

.dream-text {
  font-size: 2rem;
}

.get-started {
  margin-top: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  color: var(--whitish);
  cursor: pointer;
  background: var(--darkblue);
  transition: 0.3s;
}

.get-started:hover {
  background: var(--blue);
  color: var(--black);
}

#about-body {
  padding: 100px;
  min-height: 100vh;
  background: var(--blue);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.about-text {
  font-size: 1.2rem;
  color: var(--black);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.about-picture {
  position: relative;
}

.about-picture::after {
  content: "";
  position: absolute;
  right: 15%;
  width: 5px;
  height: 100%;
  background: var(--darkblue);
}

.about_pic {
  width: 70%;
  min-width: 335px;
  border-radius: 30%;
  box-shadow: 0px 0px 5px;
}

.about-para {
  position: relative;
  font-size: 1.2rem;
  line-height: 3.5rem;
  text-align: justify;
  text-indent: 80px;
  margin-top: 10px;
  color: var(--lightblue);
}

#skills-body,
#projects-body {
  padding: 100px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.skill-text,
.project-text {
  font-size: 1.2rem;
  text-align: center;
}

.skill-cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: var(--darkblue);
  border-radius: 5px;
  padding: 30px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px;
}

.skill-card:hover {
  background: var(--black);
}

.skill-card p {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--whitish);
}

.languange-img {
  width: 100%;
  max-width: 110px;
  min-width: 110px;
}

.project-cards {
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background: var(--darkblue);
  border-radius: 10px;
}

.projects-container {
  width: 80%;
  /* min-width: 600px; */
}

.project-cards button {
  position: absolute;
  padding: 17px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: 0.3s;
  color: var(--whitish);
}

.project-cards button:hover {
  background: rgba(0, 0, 0, 0.5);
}

#left {
  top: 50%;
  left: 0px;
}

#right {
  top: 50%;
  right: 0px;
}

.project-card {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-img {
  border-radius: 5px;
  width: 90%;
  height: 50%;
}

.project-card p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--whitish);
  text-align: center;
}

.project-name {
  font-weight: bold;
}

#contact-body {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
}

.contacts {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 250px;
  background: var(--darkblue);
  right: 50px;
  top: 50px;
}

.contact-area p a {
  color: var(--black);
  text-decoration: underline;
  transition: 0.2s;
}

.contact-area p a:hover {
  color: var(--gray);
}

.contact-icon {
  width: 50px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.contact-text {
  font-size: 1.2rem;
}

.contact-text p {
  font-size: 1rem;
}
.contact-form {
  width: 50%;
}

#contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::placeholder {
  opacity: 0;
}

.input-container {
  position: relative;
}

label {
  position: absolute;
  left: 11px;
  top: 10px;
  z-index: -1;
  transition: 0.3s;
}

input:focus + label,
textarea:focus + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input,
textarea {
  padding: 15px;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  background: transparent;
}

input:focus,
textarea:focus {
  border: 3px solid rgba(118, 138, 150, 0.3);
}

#btn-submit {
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--black);
  background: var(--blue);
  transition: 0.3s;
}

#btn-submit:hover {
  background: var(--darkblue);
  color: var(--lightblue);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--whitish);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.7rem;
    transition: 0.1s;
    border: 2px solid var(--darkblue);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--darkblue);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 3px solid rgba(0, 0, 0, 0.5);
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .about-picture::after {
    display: none;
  }

  .about_pic {
    width: 100%;
  }

  #contact-body {
    flex-direction: column;
  }

  .contacts {
    order: 2;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--whitish);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.7rem;
    transition: 0.1s;
    border: 2px solid var(--darkblue);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--darkblue);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 3px solid rgba(0, 0, 0, 0.5);
  }

  #intro-body {
    padding: 200px 50px 100px 50px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .about-picture::after {
    display: none;
  }

  .about_pic {
    width: 100%;
  }

  #project-body {
    padding: 200px 50px 100px 50px;
  }

  .projects-container {
    flex-grow: 1;
  }

  #contact-body {
    flex-direction: column;
  }

  .contacts {
    display: flex;
    order: 2;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}
