:root {
  --background: #242629;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --link: #7f5af0;
  --card: #16161a;
  --card_headline: #fffffe;
  --input: #16161a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.header-name {
  color: var(--paragraph);
  animation: header 0.5s ease-in-out;
}

@keyframes header {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

.header-name h3:hover {
  color: var(--link);
  transition: 0.3s;
}

.nav-body {
  padding: 20px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

.nav-bg {
  background: var(--card);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a:nth-child(1) {
  animation: firstlink 0.5s ease-in-out;
}

.nav-links a:nth-child(2) {
  animation: seclink 0.7s ease-in-out;
}

.nav-links a:nth-child(3) {
  animation: thirdlink 0.9s ease-in-out;
}

.nav-links a:nth-child(4) {
  animation: fourthlink 1.1s ease-in-out;
}

.nav-links a:nth-child(5) {
  animation: fifthlink 1.3s ease-in-out;
}

@keyframes firstlink {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes seclink {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes thirdlink {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fourthlink {
  from {
    transform: translateY(-250px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fifthlink {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0px);
  }
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container a {
  color: var(--paragraph);
  font-size: 1.1rem;
  transition: 0.3s;
  position: relative;
}

.nav-container .active-link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: var(--headline);
  animation: line_bottom 0.5s ease-in-out;
}

@keyframes line_bottom {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.nav-container a:hover {
  color: var(--link);
}

#menu-btn {
  display: none;
}

#intro-body {
  min-height: 100vh;
  background-color: var(--background);
  padding: 3.1rem 0px;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
}

.my-profile {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 5px;
  animation: profile 1s ease-in-out;
}

@keyframes profile {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.intro-text {
  position: relative;
  color: var(--headline);
  text-align: center;
  animation: introtext 1.3s ease-in-out;
}

@keyframes introtext {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.name-text {
  font-size: 2.5rem;
  cursor: default;
}

.name-text span:hover {
  color: var(--paragraph);
  transition: 0.3s;
}

.name-text span:has(~ span:hover) {
  color: var(--paragraph);
  transition: 0.3s;
}

.separator {
  width: 50%;
  height: 0.2rem;
  margin: 10px auto;
  background: var(--headline);
  border: none;
  animation: separator 1.3s ease-in-out;
}

@keyframes separator {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.dream-text {
  font-size: 2rem;
}

.get-started {
  margin-top: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  color: var(--headline);
  cursor: pointer;
  background: var(--link);
  transition: 0.3s;
}

.get-started:hover {
  background: var(--card);
  color: var(--paragraph);
}

#about-body {
  min-height: 100vh;
  background: var(--card);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.1rem 1.1rem;
}

.about-text {
  font-size: 1.2rem;
  color: var(--headline);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  min-height: 100vh;
}

.show-about {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.about-picture {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  animation: about_pic 1s ease-in-out;
}

.about_pic {
  width: 100%;
  max-width: 500px;
  border: 5px solid var(--background);
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  transform: scale(0);
}

.show-pic {
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.about-para {
  position: relative;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  color: var(--paragraph);
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.word {
  opacity: 0;
}

#skills-body {
  background: var(--background);
}

#projects-body {
  background: var(--card);
  padding: 1.9rem 0px;
}

#skills-body,
#projects-body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.skills-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.show-skill {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.skill-text,
.project-text {
  font-size: 1.2rem;
  text-align: center;
  color: var(--headline);
}

.skill-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  cursor: pointer;
  background: var(--card);
  border-radius: 5px;
  padding: 30px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px;
  position: relative;
  overflow: hidden;
  transform: scale(0);
}

.skill-cards .show-card:nth-child(1) {
  transform: scale(1);
  transition: transform 0.6s ease-in-out;
}

.skill-cards .show-card:nth-child(2) {
  transform: scale(1);
  transition: transform 0.9s ease-in-out;
}

.skill-cards .show-card:nth-child(3) {
  transform: scale(1);
  transition: transform 1.3s ease-in-out;
}

.skill-cards .show-card:nth-child(4) {
  transform: scale(1);
  transition: transform 1.6s ease-in-out;
}

.skill-cards .show-card:nth-child(5) {
  transform: scale(1);
  transition: transform 1.9s ease-in-out;
}

.skill-card:hover img {
  scale: 1.4;
}

.skill-card:hover .skill-info {
  left: 0;
}

.skill-card .skill-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skill-card p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--card_headline);
  font-weight: bold;
}

.languange-img {
  width: 100%;
  max-width: 110px;
  min-width: 110px;
  transition: 0.3s;
}

.projects-container {
  opacity: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.show-project {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.project-cards {
  padding: 10px;
  background: var(--background);
  border-radius: 10px;
  max-width: 1000px;
  overflow: hidden;
}

.btns-slider {
  display: flex;
}

.btns-slider button {
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: 0.3s;
  color: var(--headline);
}

.project-cards button:hover {
  background: rgba(0, 0, 0, 1);
}

.left {
  border-radius: 5px 0px 0px 5px;
}

.right {
  border-radius: 0px 5px 5px 0px;
}

.project-card {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: active_proj 1s ease-in-out;
}

@keyframes active_proj {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-title {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title > p {
  color: var(--paragraph);
  font-size: clamp(1rem, 100vh, 1.2rem);
  text-align: center;
}

.project-title p:first-child span {
  font-weight: bold;
}

.project-img {
  border-radius: 5px;
  width: 70%;
  animation: project_img 1s ease-in-out;
  transform: translateX(-1000px);
  animation: project_img 1s ease-in-out;
}

@keyframes project_img {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

.show-projimg {
  transition: transform 1s ease-in-out;
  transform: translateX(0px);
}

.project-name {
  font-weight: bold;
}

#contact-body {
  min-height: 100vh;
  padding: 2.1rem 1.1rem;
  background: var(--background);
}

.contact-container {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.show-contact {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.contacts {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.contacts .show-contactarea:nth-child(1) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.contacts .show-contactarea:nth-child(2) {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.contacts .show-contactarea:nth-child(3) {
  opacity: 1;
  transition: opacity 1.1s ease-in-out;
}

.contacts .show-contactarea:nth-child(4) {
  opacity: 1;
  transition: opacity 1.4s ease-in-out;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 250px;
  background: var(--darkblue);
  right: 50px;
  top: 50px;
}

.contact-area {
  opacity: 0;
}

.contact-area p a {
  color: var(--paragraph);
  text-decoration: underline;
  transition: 0.2s;
}

.contact-area p {
  color: var(--paragraph);
}

.contact-area p a:hover {
  color: var(--link);
}

.contact-icon {
  width: 50px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.contact-text {
  font-size: 1.2rem;
  color: var(--headline);
}

.contact-text p {
  font-size: 1rem;
  color: var(--paragraph);
}
.contact-form {
  width: 47%;
}

#contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::placeholder {
  opacity: 0;
}

.input-container {
  position: relative;
}

label {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  transition: 0.3s;
  color: var(--headline);
}

input:focus + label,
textarea:focus + label {
  left: 10px;
  top: -10px;
  background: var(--background);
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  left: 10px;
  top: -10px;
  background: var(--background);
  z-index: 2;
}

input,
textarea {
  padding: 15px;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--input);
  border-radius: 5px;
  outline: none;
  background: transparent;
  animation: inputs 1s ease-in-out;
  color: var(--headline);
}

@keyframes inputs {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
  }
}

input:focus,
textarea:focus {
  border: 3px solid rgba(118, 138, 150, 0.3);
}

#btn-submit {
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--headline);
  background: var(--link);
  transition: 0.3s;
}

#btn-submit:hover {
  background: var(--darkblue);
  color: var(--lightblue);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--card);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .show-nav {
    display: flex;
  }

  .nav-links a:nth-child(1) {
    animation: firstlink 0.5s ease-in-out;
  }

  .nav-links a:nth-child(2) {
    animation: seclink 0.7s ease-in-out;
  }

  .nav-links a:nth-child(3) {
    animation: thirdlink 0.9s ease-in-out;
  }

  .nav-links a:nth-child(4) {
    animation: fourthlink 1.1s ease-in-out;
  }

  .nav-links a:nth-child(5) {
    animation: fifthlink 1.3s ease-in-out;
  }

  @keyframes firstlink {
    from {
      transform: translateX(-1000px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes seclink {
    from {
      transform: translateX(-1200px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes thirdlink {
    from {
      transform: translateX(-1400px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes fourthlink {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes fifthlink {
    from {
      transform: translateX(-1800px);
    }

    to {
      transform: translateX(0px);
    }
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.1s;
    border: 2px solid var(--headline);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--paragraph);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 2px solid var(--headline);
  }

  #intro-body {
    padding: 6rem 1.1rem 2.8rem 0.1rem;
  }

  .intro-container {
    padding-top: 0;
  }

  .intro-container,
  .about-container {
    flex-direction: column;
  }

  #projects-body,
  #about-body,
  #contact-body {
    padding: 6rem 1.1rem;
  }

  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  .about-picture,
  .about-para {
    align-items: center;
  }

  .active {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }

  .project-title {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contacts {
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--card);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .show-nav {
    display: flex;
  }

  .nav-links a:nth-child(1) {
    animation: firstlink 0.2s ease-in-out;
  }

  .nav-links a:nth-child(2) {
    animation: seclink 0.4s ease-in-out;
  }

  .nav-links a:nth-child(3) {
    animation: thirdlink 0.6s ease-in-out;
  }

  .nav-links a:nth-child(4) {
    animation: fourthlink 0.8s ease-in-out;
  }

  .nav-links a:nth-child(5) {
    animation: fifthlink 1s ease-in-out;
  }

  @keyframes firstlink {
    from {
      transform: translateX(-1000px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes seclink {
    from {
      transform: translateX(-1200px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes thirdlink {
    from {
      transform: translateX(-1400px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes fourthlink {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0px);
    }
  }

  @keyframes fifthlink {
    from {
      transform: translateX(-1800px);
    }

    to {
      transform: translateX(0px);
    }
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.1s;
    border: 2px solid var(--headline);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--paragraph);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 2px solid var(--headline);
  }

  .intro-container {
    flex-direction: column;
    padding-top: 0;
  }

  .name-text {
    font-size: 2rem;
  }

  .dream-text {
    font-size: 1.5rem;
  }

  #intro-body {
    padding: 6rem 1.1rem 2.8rem 1.1rem;
  }

  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  #projects-body,
  #contact-body,
  #skills-body,
  #about-body {
    padding: 6rem 1.1rem;
  }

  .about-container {
    gap: 20px;
  }

  .about-picture,
  .about-para {
    flex-basis: 100%;
    font-size: 1rem;
    align-items: center;
  }

  .active {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }

  .project-title {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }

  .contact-text {
    font-size: 1rem;
  }
}
