:root {
  --darkblue: #29353c;
  --blue: #44576d;
  --gray: #768a96;
  --lightblue: #aac7d8;
  --whitish: #dfebf6;
  --lighgray: #e6e6e6;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

#intro-body {
  background-color: var(--lightblue);
  background-image: radial-gradient(
      #44576d 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    radial-gradient(
      var(--blue) 0.6000000000000001px,
      var(--lightblue) 0.6000000000000001px
    );
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
  box-shadow: 0px 0px 10px;
}

.header-name {
  color: var(--darkblue);
}

.nav-body {
  background: transparent;

  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container a {
  color: var(--darkblue);
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-container a:hover {
  color: var(--whitish);
}

#intro-body {
  padding: 100px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.my-profile {
  border-radius: 50%;
  width: 100%;
  max-width: 469px;
  min-width: 300px;
  box-shadow: 0px 0px 5px;
}

.intro-text {
  position: relative;
  color: var(--darkblue);
  text-align: center;
}

.name-text {
  font-size: 1.9rem;
  cursor: default;
}

.name-text span:hover {
  color: var(--whitish);
}

.name-text span:has(~ span:hover) {
  color: var(--whitish);
}

.separator {
  width: 50%;
  height: 0.2rem;
  margin: 10px auto;
  background: var(--gray);
  border: none;
}

.dream-text {
  font-size: 1.5rem;
}

.get-started {
  margin-top: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  color: var(--whitish);
  cursor: pointer;
  background: var(--darkblue);
  transition: 0.3s;
}

.get-started:hover {
  background: var(--blue);
  color: var(--black);
}

#about-body {
  padding: 100px;
  background: var(--blue);
}

.about-text {
  font-size: 1.2rem;
  color: var(--black);
}

.about-para {
  position: relative;
  font-size: 1.2rem;
  line-height: 3.5rem;
  text-align: justify;
  text-indent: 80px;
  margin-top: 10px;
  color: var(--lightblue);
  max-width: 100%;
}

.about-para::after {
  content: "";
  width: 70px;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 28px;
  background: var(--darkblue);
}

#skills-body,
#projects-body {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.skill-text,
.project-text {
  font-size: 1.2rem;
  text-align: center;
}

.skill-cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: var(--darkblue);
  border-radius: 5px;
  padding: 30px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px;
}

.skill-card:hover {
  background: var(--black);
}

.skill-card p {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--whitish);
}

.languange-img {
  width: 100%;
  max-width: 110px;
  min-width: 110px;
}

.project-cards {
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background: var(--darkblue);
  border-radius: 10px;
}

.projects-container {
  width: 65%;
}

.project-cards button {
  position: absolute;
  padding: 17px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: 0.3s;
  color: var(--whitish);
}

.project-cards button:hover {
  background: rgba(0, 0, 0, 0.5);
}

#left {
  top: 50%;
  left: 0px;
}

#right {
  top: 50%;
  right: 0px;
}

.project-card {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-img {
  border-radius: 5px;
  width: 90%;
  height: 50%;
}

.project-card p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--whitish);
  text-align: center;
}

.project-name {
  font-weight: bold;
}

#contact-body {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contacts {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 250px;
  background: var(--darkblue);
  right: 50px;
  top: 50px;
}

.contact-area p a {
  color: var(--black);
  text-decoration: underline;
  transition: 0.2s;
}

.contact-area p a:hover {
  color: var(--gray);
}

.contact-icon {
  width: 50px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.contact-text {
  font-size: 1.2rem;
}

.contact-text p {
  font-size: 1rem;
}
.contact-form {
  width: 50%;
}

#contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::placeholder {
  opacity: 0;
}

.input-container {
  position: relative;
}

label {
  position: absolute;
  left: 11px;
  top: 10px;
  z-index: -1;
  transition: 0.3s;
}

input:focus + label,
textarea:focus + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input,
textarea {
  padding: 15px;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  background: transparent;
}

input:focus,
textarea:focus {
  border: 3px solid rgba(118, 138, 150, 0.3);
}

#btn-submit {
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--black);
  background: var(--blue);
  transition: 0.3s;
}

#btn-submit:hover {
  background: var(--darkblue);
  color: var(--lightblue);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .nav-container {
    display: none;
  }
}
