:root {
  --darkblue: #29353c;
  --blue: #44576d;
  --gray: #768a96;
  --lightblue: #aac7d8;
  --whitish: #dfebf6;
  --lighgray: #e6e6e6;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.header-name {
  color: var(--darkblue);
  animation: header 0.5s ease-in-out;
}

@keyframes header {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

.header-name h3:hover {
  color: var(--whitish);
  transition: 0.3s;
}

.nav-body {
  padding: 20px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

.nav-bg {
  background: var(--whitish);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a:nth-child(1) {
  animation: firstlink 0.5s ease-in-out;
}

.nav-links a:nth-child(2) {
  animation: seclink 0.7s ease-in-out;
}

.nav-links a:nth-child(3) {
  animation: thirdlink 0.9s ease-in-out;
}

.nav-links a:nth-child(4) {
  animation: fourthlink 1.1s ease-in-out;
}

.nav-links a:nth-child(5) {
  animation: fifthlink 1.3s ease-in-out;
}

@keyframes firstlink {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes seclink {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes thirdlink {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fourthlink {
  from {
    transform: translateY(-250px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fifthlink {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0px);
  }
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container a {
  color: var(--darkblue);
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-container a:hover {
  color: var(--whitish);
}

#menu-btn {
  display: none;
}

#intro-body {
  min-height: 100vh;
  background-color: var(--lightblue);
  opacity: 1;
  background-image: radial-gradient(
      #44576d 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    radial-gradient(
      var(--blue) 1.2000000000000002px,
      var(--lightblue) 1.2000000000000002px
    );
  background-size: 48px 48px;
  background-position: 0 0, 24px 24px;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  padding-top: 50px;
}

.my-profile {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 5px;
  animation: profile 1s ease-in-out;
}

@keyframes profile {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.intro-text {
  position: relative;
  color: var(--darkblue);
  text-align: center;
  animation: introtext 1.3s ease-in-out;
}

@keyframes introtext {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.name-text {
  font-size: 2.5rem;
  cursor: default;
}

.name-text span:hover {
  color: var(--whitish);
  transition: 0.3s;
}

.name-text span:has(~ span:hover) {
  color: var(--whitish);
  transition: 0.3s;
}

.separator {
  width: 50%;
  height: 0.2rem;
  margin: 10px auto;
  background: var(--gray);
  border: none;
  animation: separator 1.3s ease-in-out;
}

@keyframes separator {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.dream-text {
  font-size: 2rem;
}

.get-started {
  margin-top: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  color: var(--whitish);
  cursor: pointer;
  background: var(--darkblue);
  transition: 0.3s;
}

.get-started:hover {
  background: var(--blue);
  color: var(--black);
}

#about-body {
  min-height: 100vh;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-size: 1.2rem;
  color: var(--black);
  animation: about_text 1.3s ease-in-out;
}

@keyframes about_text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about-picture {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.about_pic {
  width: 100%;
  max-width: 500px;
  border: 5px solid var(--blue);
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  animation: about_pic 1.3s ease-in-out;
}

@keyframes about_pic {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.about-para {
  position: relative;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  color: var(--lightblue);
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.word {
  opacity: 0;
}

#skills-body,
#projects-body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.skill-text,
.project-text {
  font-size: 1.2rem;
  text-align: center;
  animation: text 1.3s ease-in-out;
}

@keyframes text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.skill-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  cursor: pointer;
  background: var(--darkblue);
  border-radius: 5px;
  padding: 30px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px;
  position: relative;
  overflow: hidden;
}

.skill-cards .skill-card:nth-child(1) {
  animation: skill_card1 0.6s ease-in-out;
}

@keyframes skill_card1 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.skill-cards .skill-card:nth-child(2) {
  animation: skill_card2 0.9s ease-in-out;
}

@keyframes skill_card2 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.skill-cards .skill-card:nth-child(3) {
  animation: skill_card3 1.2s ease-in-out;
}

@keyframes skill_card3 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.skill-cards .skill-card:nth-child(4) {
  animation: skill_card4 1.5s ease-in-out;
}

@keyframes skill_card4 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.skill-cards .skill-card:nth-child(5) {
  animation: skill_card5 1.8s ease-in-out;
}

@keyframes skill_card5 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.skill-card:hover img {
  scale: 1.4;
}

.skill-card:hover .skill-info {
  left: 0;
}

.skill-card .skill-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skill-card p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--whitish);
  font-weight: bold;
}

.languange-img {
  width: 100%;
  max-width: 110px;
  min-width: 110px;
  transition: 0.3s;
}

.projects-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.project-cards {
  padding: 10px;
  background: var(--darkblue);
  border-radius: 10px;
  max-width: 1000px;
  overflow: hidden;
}

.btns-slider {
  display: flex;
}

.btns-slider button {
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: 0.3s;
  color: var(--whitish);
}

.project-cards button:hover {
  background: rgba(0, 0, 0, 1);
}

#left {
  bottom: 110px;
  right: 150px;
  border-radius: 5px 0px 0px 5px;
}

#right {
  bottom: 110px;
  right: 120px;
  border-radius: 0px 5px 5px 0px;
}

.project-card {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-title {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: project_title 1.3s ease-in-out;
}

@keyframes project_title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-title p {
  font-size: clamp(1rem, 100vh, 1.2rem);
  color: var(--whitish);
  text-align: center;
}

.project-title p:first-child span {
  font-weight: bold;
}

.project-img {
  border-radius: 5px;
  width: 70%;
  animation: project_img 1.3s ease-in-out;
}

@keyframes project_img {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateY(0px);
  }
}

.project-name {
  font-weight: bold;
}

#contact-body {
  min-height: 100vh;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contacts {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.contacts .contact-area:nth-child(1) {
  animation: contact1 0.6s ease-in-out;
}

@keyframes contact1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contacts .contact-area:nth-child(2) {
  animation: contact2 0.9s ease-in-out;
}

@keyframes contact2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contacts .contact-area:nth-child(3) {
  animation: contact3 1.2s ease-in-out;
}

@keyframes contact3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contacts .contact-area:nth-child(4) {
  animation: contact4 1.5s ease-in-out;
}

@keyframes contact4 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contacts::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 250px;
  background: var(--darkblue);
  right: 50px;
  top: 50px;
}

.contact-area p a {
  color: var(--black);
  text-decoration: underline;
  transition: 0.2s;
}

.contact-area p a:hover {
  color: var(--gray);
}

.contact-icon {
  width: 50px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.contact-text {
  font-size: 1.2rem;
  animation: text 1.3s ease-in-out;
}

@keyframes identifier {
}

.contact-text p {
  font-size: 1rem;
}
.contact-form {
  width: 47%;
}

#contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::placeholder {
  opacity: 0;
}

.input-container {
  position: relative;
  overflow: hidden;
}

label {
  position: absolute;
  left: 11px;
  top: 10px;
  z-index: -1;
  transition: 0.3s;
  animation: label 1.3s ease-in-out;
}

@keyframes label {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

input:focus + label,
textarea:focus + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  left: 10px;
  top: -10px;
  background: #fefefe;
  z-index: 1;
}

input,
textarea {
  padding: 15px;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  background: transparent;
  animation: inputs 1.3s ease-in-out;
}

@keyframes inputs {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
  }
}

input:focus,
textarea:focus {
  border: 3px solid rgba(118, 138, 150, 0.3);
}

#btn-submit {
  border-radius: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--black);
  background: var(--blue);
  transition: 0.3s;
  animation: btnsubmit 1.3s ease-in-out;
}

@keyframes btnsubmit {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#btn-submit:hover {
  background: var(--darkblue);
  color: var(--lightblue);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--whitish);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.1s;
    border: 2px solid var(--darkblue);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--darkblue);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 3px solid rgba(0, 0, 0, 0.5);
  }

  #intro-body {
    padding: 100px 20px 20px 20px;
  }

  .intro-container {
    padding-top: 0;
  }

  .intro-container,
  .about-container {
    flex-direction: column;
  }

  #about-body,
  #projects-body,
  #contact-body {
    padding: 20px;
  }

  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  .about-picture,
  .about-para {
    align-items: center;
  }

  .active {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }

  .project-title {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contacts {
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-body {
    display: flex;
    justify-content: space-between;
    background: var(--whitish);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.1s;
    border: 2px solid var(--darkblue);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--darkblue);
    align-self: flex-start;
  }

  #menu-btn:hover {
    outline: 3px solid rgba(0, 0, 0, 0.5);
  }

  .intro-container {
    flex-direction: column;
    padding-top: 0;
  }

  .name-text {
    font-size: 2rem;
  }

  .dream-text {
    font-size: 1.5rem;
  }

  #intro-body {
    padding: 100px 20px 20px 20px;
  }

  #about-body,
  #projects-body,
  #contact-body {
    padding: 20px;
  }

  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  #project-body {
    padding: 200px 50px 100px 50px;
  }

  .about-container {
    gap: 20px;
  }

  .about-picture,
  .about-para {
    flex-basis: 100%;
    font-size: 1rem;
    align-items: center;
  }

  .active {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }

  .project-title {
    width: 100%;
  }

  #contact-body {
    flex-direction: column;
    padding: 20px;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    align-items: center;
  }

  .contacts::before {
    display: none;
  }

  .contact-form {
    width: 100%;
  }

  .contact-text {
    font-size: 1rem;
  }
}
